<table>
    <tr>
        <td>
            <div class="number-container">
                <span class="date-number">{{model?.date?.n3}}</span>
                <span class="name-number">{{model?.name?.n3}}</span>
            </div>
        </td>
        <td>
            <div class="number-container">
                <span class="date-number">{{model?.date?.n6}}</span>
                <span class="name-number">{{model?.name?.n6}}</span>
            </div>
        </td>
        <td>
            <div class="number-container">
                <span class="date-number">{{model?.date?.n9}}</span>
                <span class="name-number">{{model?.name?.n9}}</span>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="number-container">
                <span class="date-number">{{model?.date?.n2}}</span>
                <span class="name-number">{{model?.name?.n2}}</span>
            </div>
        </td>
        <td>
            <div class="number-container">
                <span class="date-number">{{model?.date?.n5}}</span>
                <span class="name-number">{{model?.name?.n5}}</span>
            </div>
        </td>
        <td>
            <div class="number-container">
                <span class="date-number">{{model?.date?.n8}}</span>
                <span class="name-number">{{model?.name?.n8}}</span>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="number-container">
                <span class="date-number">{{model?.date?.n1}}</span>
                <span class="name-number">{{model?.name?.n1}}</span>
            </div>
        </td>
        <td>
            <div class="number-container">
                <span class="date-number">{{model?.date?.n4}}</span>
                <span class="name-number">{{model?.name?.n4}}</span>
            </div>
        </td>
        <td>
            <div class="number-container">
                <span class="date-number">{{model?.date?.n7}}</span>
                <span class="name-number">{{model?.name?.n7}}</span>
            </div>
        </td>
    </tr>
</table>