table {
  width: 100%;
  border-collapse: collapse;

  tr {

    td,
    th {
      border: 1px solid #ddd;
      padding: 4px;

      &:hover {
        background-color: #ddd;
      }
    }

    th {
      text-align: left;
      background-color: lightcoral;
      color: white;
      font-weight: normal;
    }

    &:nth-child(even) {
      background-color: #f2f2f2;
    }

    td {
      width: 33%;
    }
  }
}

.number-container {
  display: flex;
  min-height: 38px;
  align-items: center;

  .date-number {}

  .name-number {
    color: orangered;
    flex: 1;
    text-align: center;
  }
}
