<table *ngIf="show">
    <tr>
        <td>
            <div class="number-container">
                <span class="date-number">{{slot3?.birthNumber}}</span>
                <span class="name-number">{{slot3?.nameNumber}}</span>
            </div>
        </td>
        <td>
            <div class="number-container">
                <span class="date-number">{{slot6?.birthNumber}}</span>
                <span class="name-number">{{slot6?.nameNumber}}</span>
            </div>
        </td>
        <td>
            <div class="number-container">
                <span class="date-number">{{slot9?.birthNumber}}</span>
                <span class="name-number">{{slot9?.nameNumber}}</span>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="number-container">
                <span class="date-number">{{slot2?.birthNumber}}</span>
                <span class="name-number">{{slot2?.nameNumber}}</span>
            </div>
        </td>
        <td>
            <div class="number-container">
                <span class="date-number">{{slot5?.birthNumber}}</span>
                <span class="name-number">{{slot5?.nameNumber}}</span>
            </div>
        </td>
        <td>
            <div class="number-container">
                <span class="date-number">{{slot8?.birthNumber}}</span>
                <span class="name-number">{{slot8?.nameNumber}}</span>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="number-container">
                <span class="date-number">{{slot1?.birthNumber}}</span>
                <span class="name-number">{{slot1?.nameNumber}}</span>
            </div>
        </td>
        <td>
            <div class="number-container">
                <span class="date-number">{{slot4?.birthNumber}}</span>
                <span class="name-number">{{slot4?.nameNumber}}</span>
            </div>
        </td>
        <td>
            <div class="number-container">
                <span class="date-number">{{slot7?.birthNumber}}</span>
                <span class="name-number">{{slot7?.nameNumber}}</span>
            </div>
        </td>
    </tr>
</table>