<table *ngIf="show">
    <tr>
        <td class="no-td"> </td>
        <td> </td>
        <td>
            <span class="year">{{majorYear4}}</span>

        </td>
        <td> </td>
        <td class="no-td"> </td>
    </tr>
    <tr>
        <td> </td>
        <td class="crossed-lr"> </td>
        <td>
            <span>{{sumThirdLevel}}</span>
        </td>
        <td class="crossed-rl"> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td class="crossed-lr"> </td>
        <td>
            <span class="year">{{majorYear3}}</span>
        </td>
        <td class="crossed-rl"> </td>
        <td> </td>
    </tr>

    <tr>
        <td class="no-td"> </td>
        <td class="year">{{majorYear1}}</td>
        <td>
            <span>{{sumSecondLevel}}</span>
        </td>
        <td class="year">{{majorYear2}}</td>
        <td class="no-td"> </td>
    </tr>

    <tr>
        <td class="crossed-lr"> </td>
        <td>
            <span>{{sumMonthDay}} </span>
        </td>
        <td class="crossed-hz"> </td>
        <td>
            <span>{{sumDayYear}}</span>
        </td>
        <td class="crossed-rl"> </td>
    </tr>
    <tr>
        <td>
            <div>
                <span>(M)</span>
                <br />
                <span> {{baseMonth}}</span>
            </div>
        </td>
        <td class="crossed-lr"> </td>
        <td>
            <div>
                <span>(D)</span>
                <br />
                <span> {{baseDay}}</span>
            </div>
        </td>
        <td class="crossed-rl"> </td>
        <td>
            <div>
                <span>(Y)</span>
                <br />
                <span> {{baseYear}}</span>
            </div>
        </td>
    </tr>
</table>