:host::ng-deep {
  .mat-form-field {
    width: 100%;
  }

  .mat-form-field-infix {
    width: auto !important;
  }
}

form {
  width: 100%;

  display: flex;
  flex-direction: column;

  .row {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin: -4px;

    .col {
      flex: 1;
      margin: 4px;
    }
  }

  .submit-button {
    width: 100%;
    min-height: 64px;
  }
}
