<form [formGroup]="formGroup" (ngSubmit)="onCalculate()">
    <div class="row">
        <div class="col">
            <mat-form-field class="input" appearance="outline">
                <mat-label>Full Name</mat-label>
                <input matInput formControlName="FullName">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="input" appearance="outline">
                <mat-label>Nick Name</mat-label>
                <input matInput formControlName="NickName">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <mat-form-field class="dateInput" appearance="outline">
                <mat-label>Month</mat-label>
                <mat-select formControlName="Month">
                    <mat-option *ngFor="let month of months" [value]="month">
                        {{month}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="dateInput" appearance="outline">
                <mat-label>Day</mat-label>
                <mat-select formControlName="Day">
                    <mat-option *ngFor="let day of days" [value]="day">
                        {{day}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="dateInput" appearance="outline">
                <mat-label>Year</mat-label>
                <input matInput formControlName="Year">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- <mat-form-field appearance="outline">
                <mat-label>Constellation</mat-label>
                <input matInput formControlName="constellation">
            </mat-form-field> -->
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Contellations</mat-label>
                <mat-select formControlName="constellation">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let item of contellations" [value]="item.name"> {{item.name}} {{item.fromDate}}-{{item.toDate}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Comment</mat-label>
                <textarea matInput formControlName="comment" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button mat-stroked-button style="color: orangered;" class="submit-button">Calculate</button>
        </div>
    </div>

</form>
<div class="row">
    <div class="col">
        <button type="button" mat-stroked-button style="width: 100%;" (click)="saveInfo()">Save</button>
    </div>
    <div class="col">
        <button type="button" mat-stroked-button style="width: 100%;" (click)="loadInfo()">Load</button>
    </div>
</div>
