<div class="container">
    <button mat-raised-button color="accent" (click)="goBack()">Back</button>

    <table class="table table-sm table-striped" style="margin-top: 10px;">
        <tbody>
            <tr *ngFor="let client of currentClients; let i = index">
                <td>
                    <div class="info-div">
                        <span class="displayValue">{{client.FullName}} {{client.Month}}/{{client.Day}}/{{client.Year}}</span>
                        <span class="createdOn">{{client.createdOn}}</span>
                    </div>
                </td>
                <td>
                    <button mat-button color="primary" (click)="selectClient(client, i)">Select</button>
                    <button mat-button color="warn" (click)="deleteClient(client, i)">Delete</button>

                </td>
            </tr>
        </tbody>

    </table>
</div>
